body>div{
    width: 100%;
  padding: 10px;
  border: 5px;
  margin: 5px;
  
}
.but{
    
    display:inline-block;

}
button{
    width:320px;
    padding: 15px;
    font-size: 25px;
    background-color:darkslategrey;
    border: none;
    color: white;
}
img {
    max-width: 100%;
    height: auto;
    position: relative;
  }
#t{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
  }
  span{
      text-align:center;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px;
    
    
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    background-color:black;
    color: white;
    padding: 12px 20px;
    border: 2px;
    border-radius: 4px;
    width:100%
   
    
  } 
  .inp{
    margin-bottom: 20px;
  }
  