body>div{
    padding: 25px 50px 0px 25px;
}


table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  footer{
    position: relative;
    
    top: 100px;
  }
  aside>div>form>div{
      display: block;
      content: "\a";
      
     
  }
  input[type=text], select {
    width: 100%;
    padding: 12px;
    
    
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 

 